*{
	padding: 0;
	margin: 0;
}

body{
    width: 100%;
}

fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver}

legend{padding:.5em;border:0;width:auto}

td{
	align:center;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-track {
	/*background: url("../imagesne.jpg") center;*/
}
::-webkit-scrollbar-thumb {
	padding-left: 2px;
	border-radius: 6px;
	border: solid 2px #A6A6A6;
	background-color: rgba(255, 255, 255, 1);
}
.inputdiv{
	padding-left: 0px;
	padding-right: 0px;
}
.inputstyle{
	padding-left: 2px;
	padding-right: 0px;
}
.divstyle{
	padding-left: 8px;
	padding-right: 0px;
}

#mytable td{text-align: center; vertical-align: middle;}
#tableTR th{text-align: center; vertical-align: middle;}
#reviewmytable td{text-align: center; vertical-align: middle;}
#reviewtableTR th{text-align: center; vertical-align: middle;}
#contenttable td{text-align: center; vertical-align: middle;}
#contenttable th{text-align: center; vertical-align: middle;}

#modeManager-mkTable a{
	text-decoration: underline;
}
#modeManager-mkTable tr td{
	border: 0;
}
#modeManager-mkTable tr td div{
	margin-bottom: 5px;
	font-size: 20px;
}

#chipManager-mkTable a{
	text-decoration: underline;
}
#chipManager-mkTable tr td{
	border: 0;
}
#chipManager-mkTable tr td div{
	margin-bottom: 5px;
	font-size: 20px;
}

#module-mkTable a{
	text-decoration: underline;
}
#module-mkTable tr td div{
	margin-bottom: 5px;
	font-size: 20px;
	padding-left: 5%;
}
#module-mkTable tr td div:nth-child(1){
	color: red;
	margin-left: 3%;
	padding-left: 0;
	text-align: left;
}

#config-mkTable a{
	text-decoration: underline;
}
#config-mkTable tr td div{
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 20px;
	text-align: left;
}
#config-mkTable tr td div:nth-child(1){
	color: red;
	text-align: left;
}

#waitAddPage,#configTable,#modal-configTable,#modal-configAdminTable{
	display: none;
}
#mkTable,#modal-mkTable,#modal-mkAdminTable,#configString{
	display: block;
}
#myAddModalMkTable,#myMoreEditModalMkTable,#myEditModalMkTable,#myCopyModalMkTable{
	display: block;
}
#myAddModalConfigTable,#myMoreEditModalConfigTable,#myEditModalConfigTable,#myCopyModalConfigTable{
	display: none;
}
.bottomStyle{
	border-bottom: 10px;
}
.fontsize{
	font-size: 18px;
}
.fontsize input{
	height: 20px;
}

.fontsize div{
	height: 20px;
	padding-bottom: 5px;
}
.modalwidth{
	position: relative;
	width: 98%;
	padding-left: 2%;
	padding-top: 4%;
	margin: 0;
}
.modal-delete{
	position: relative;
	width: 98%;
	padding-left: 2%;
	padding-top: 24%;
	margin: 0;
}

.new-backdrop{
	background-color: #FFFFFF;
}
.myheader{
	padding-bottom: 5px;
}
.myheader button{
	position: relative;
	display: block;
	width: 5%;
	margin-right: 5px;
}
.mytable{
	padding-bottom: 0px;
	font-size: 18px;
}
.mytable input{
	display: block;
    float: left;
}
.mytable span{
	display: block;
    float: left;
    width: 40%;
    text-align: right;
    margin-left: 5%;
    font-size: 17px;
}
.mytable div{
	margin-bottom: 4px;
}

.mybody{
	padding-bottom: 0px;
}
.myfooter{
	padding: 0;
}
.myfooter button{
	position: relative;
	display: block;
	width: 10%;
	margin: 0 auto;
}
.smallbutton{
	width: 30%;
	text-align: left;
	font-size: 12px;
}
.aFlagToButton{
	float: left;
}
.mybuttonAddstyle{
	display: none;
	padding: 0;
	float: left;
	margin-left: 5px;
	padding-left: 0px;
	padding-right: 0px;
}
.mybuttonDelstyle{
	display: none;
	padding: 0;
	float: left;
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 0px;
}

#myCopyModalConfigTableTbody div{
	margin-bottom: 4px;
}
#myCopyModalConfigTableTbody div select{
	width: 50%;
	float: left;
	height: 30px;
	margin-left: 5%;
}
#myCopyModalConfigTableTbody div input{
	width: 50%;
	float: left;
	margin-left: 5%;
}
#myCopyModalConfigTableTbody tr td div{
	display: block;
    height: 30px;
}

#myCopyModalConfigTableTbody span{
	display: block;
    float: left;
    width: 40%;
    text-align: right;
    margin-left: 0;
    font-size: 17px;
    overflow: hidden;
}
#myCopyModalMkTableTbody input{
	display: block;
    float: left;
}
#myCopyModalMkTableTbody span{
	display: block;
    float: left;
    width: 72%;
    text-align: left;
    margin-left: 5%;
    font-size: 17px;
}
#myCopyModalMkTableTbody div{
	margin-bottom: 4px;
}
#myEditModalConfigTableTbody div{
	margin-bottom: 4px;
}
#myEditModalConfigTableTbody div select{
	width: 50%;
	float: left;
	height: 30px;
	margin-left: 5%;
}
#myEditModalConfigTableTbody div input{
	width: 50%;
	float: left;
	margin-left: 5%;
}
#myEditModalConfigTableTbody tr td div{
	display: block;
    height: 30px;
}

#myEditModalConfigTableTbody span{
	display: block;
    float: left;
    width: 40%;
    text-align: right;
    margin-left: 0;
    font-size: 17px;
    overflow: hidden;
}
#myEditModalMkTableTbody input{
	display: block;
    float: left;
}
#myEditModalMkTableTbody span{
	display: block;
    float: left;
    width: 72%;
    text-align: left;
    margin-left: 5%;
    font-size: 17px;
}
#myEditModalMkTableTbody div{
	margin-bottom: 4px;
}


#myMoreEditModalConfigTableTbody div{
	margin-bottom: 4px;
}
#myMoreEditModalConfigTableTbody div select{
	width: 50%;
	float: left;
	height: 30px;
	margin-left: 5%;
}
#myMoreEditModalConfigTableTbody div input{
	width: 50%;
	float: left;
	margin-left: 5%;
	display: block;
    height: 30px;
}
#myMoreEditModalConfigTableTbody tr td div{
	display: block;
    height: 30px;
}

#myMoreEditModalConfigTableTbody span{
	display: block;
    float: left;
    width: 40%;
    text-align: right;
    margin-left: 0;
    font-size: 17px;
    overflow: hidden;
}
#myMoreEditModalMkTableTbody input{
	display: block;
	height: 30px;
    float: left;
}
#myMoreEditModalMkTableTbody span{
	display: block;
    float: left;
    width: 72%;
    text-align: left;
    margin-left: 5%;
    font-size: 17px;
}
#myMoreEditModalMkTableTbody div{
	margin-bottom: 4px;
}
#myMoreEditModalConfigTableTbody tr td div{
	display: block;
    height: 30px;
}

#myAddModalConfigTableTbody div{
	margin-bottom: 4px;
}
#myAddModalConfigTableTbody div select{
	width: 50%;
	float: left;
	height: 30px;
	margin-left: 5%;
}
#myAddModalConfigTableTbody div input{
	width: 50%;
	float: left;
	margin-left: 5%;
}
#myAddModalConfigTableTbody tr td div{
	display: block;
    height: 30px;
}
#myAddModalConfigTableTbody span{
	display: block;
    float: left;
    width: 40%;
    text-align: right;
    margin-left: 0;
    font-size: 17px;
    overflow: hidden;
}
#myAddModalMkTableTbody input{
	display: block;
    float: left;
}
#myAddModalMkTableTbody span{
	display: block;
    float: left;
    width: 72%;
    text-align: left;
    margin-left: 5%;
    font-size: 17px;
}
#myAddModalMkTableTbody div{
	margin-bottom: 4px;
}
.myModalErrorInfo{
    display: none;
    margin-left: 20%;
    margin-top: -30px;
    width: 60%;
    height: 30px;
    font-size: 24px;
    overflow: hidden;
    text-align: center;
    color: red;
}

#inputChipOrMode{
	background-color: #bcbcbc;
}

#inputChipOrMode label{
	margin-left: 20%;
	margin-bottom: 20px;
	margin-top: 3%;
	font-size: 24px;
	color: #FFFFFF;
}
#inputChipOrMode input{
	display: block;
	width: 60%;
	height: 35px;
	margin:auto;
	font-size: 22px;
	margin-bottom: 20px;
}
#inputChipOrModeClose{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 15%;
	width: 10%;
}

#inputChipOrModeSubmit{
	display: block;
	width: 50%;
	margin:auto;
}
.myModeChipAdd{
	height:250px;
}

/*module*/
#myModuleBorder{
	background-color: #bcbcbc;
	width: 50%;
	margin: auto;
}

#myModuleBorder label{
	margin-left: 10%;
	font-size: 24px;
	color: #FFFFFF;
}
#myModuleBorder input{
	display: block;
	width: 80%;
	height: 35px;
	margin:auto;
	font-size: 22px;
}
#myModuleBorder select{
	display: block;
	width: 80%;
	height: 35px;
	margin:auto;
	font-size: 22px;
}
#inputModuleClose{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 35px;
	width: 45px;
}
#inputModuleSubmit{
	display: block;
	width: 50%;
	margin:auto;
	height: 30px;
	margin-top: 20px;
	background-color: #FFFFFF;
}

/*config*/
#myConfigBorder{
	background-color: #bcbcbc;
	height: 100%;
	width: 60%;
	margin: auto;
}
.configlable{
	width: 40%;
	margin-bottom: 0px;
	padding-left: 10%;
	margin-top: -8%;
	font-size: 16px;
	color: #FFFFFF;
}

.configinput{
	display: block;
	width: 80%;
	height: 35px;
	margin:auto;
	margin-bottom: -8px;
	font-size: 20px;
}

#myConfigBorder div label:nth-child(2){
	margin-top: 3%;
	float: left;
	margin-bottom: 0;
}
#myConfigBorder div label:nth-child(3){
	margin-top: 3%;
	margin-left: 1%;
	float: left;
	margin-bottom: 0;
}
#myConfigBorder div input:nth-child(5){
	width: 39%;
	float: left;
	margin-left: 10%;
}
#myConfigBorder div input:nth-child(6){
	width: 39%;
	margin-left: 51%;
}

.configselect{
	display: block;
	width: 80%;
	height: 35px;
	margin:auto;
	font-size: 22px;
}

#inputConfigClose{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 35px;
	width: 45px;
}
#inputConfigSubmit{
	display: block;
	width: 50%;
	margin:auto;
	height: 30px;
	margin-top: 20px;
	background-color: #FFFFFF;
}
.configtextarea{
	display: block;
	resize:none;
	width: 80%;
	margin: auto;
}
.configDefaultedOption{
	height: 25px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 0px;
	border: 0;
}
.configDefaultedOption:nth-child(1){
	margin-left: 10.3%;
}
.tableBox{
	width: 80%;
	margin: auto;
	padding: 1% 2% 1% 2%;
	margin-bottom: 3%;
	border: 1px solid skyblue;
	display: none;
}
#myDeleteModal,#myMoreDeleteModal,#myEditEnsureModal,#myDeleteDialogModal,#myMoreEditSubmitModal{
	margin: auto;
}
.loginmycenter{padding-top: 16%;}

#logintxt,#pwdmessage,#usermessage{color: red}

#reviewmkfile{
	display: block;
}
#reviewconfigfile{
	display: none;
}
#_hidden1,#_hidden2,#_hidden3,#_hidden4{
	display: none;
}
#wait-change{
	display: none;
	float: left;
}
#wait-add{
	float: left;
}
#ADCSEfficient{
	height: 96px;
	overflow-y: auto;
}
.menuUnitInput{
    display: block;
    float: left;
    height: 32px;
    width: 100%;
    padding-left: 3%;
}
#reviewconfigfile input,#reviewconfigfile select{
	width: 40%;
	box-sizing:border-box;
	height:24px;
}

#reviewconfigfile div div{height: 30px;}

.productInfo{
	margin-left: -6%;
}
.reviewconfigInput{
	margin-left: -6%;
}
.reviewconfigInput input{
	width: 40%;
}
#reviewBottom{
	text-align: center;
}
#reviewDialog{
    width: 51%;
    margin-left: 42%;
    padding-top: 24%;
    margin: 0 auto;
}

#chipMangInfo{
	text-align: center;
	color: red;
}
#postInfo{
	text-align: center;
	color: red;
}
#configPostInfo{
	text-align: center;
	color: red;
}

#moduleErrorInfo,#configErrorInfo,#myDeleteModalErrorInfo{
	display: none;
	text-align: center;
	color: red;
	font-size: 20px;
}
.moreEditDetail{
	font-size: 18px;
	margin:1% 8%;
}
.moreEditDetail:nth-child(1){
	font-size: 24px;
	margin: 0;
	margin-left: 8%;
}
.moreEditDetail:nth-child(2){
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.moreEditDetail:nth-child(3){
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
.moreEditDetail:nth-child(4){
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
